html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}


.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.top img {
  height: 32px;
  width: 32px;
  border-radius: 30px;
  border: 1px solid #dadada;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;

}

.center{
  background-color: red;
}
.bottom{
  display: flex;
}